body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(170, 164, 164);
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  background-color: grey;
  padding: 30px;
}

.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: rgb(146, 142, 142);
  padding: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.monster {
  display: flex;
}

.list {
  padding: 20px;
}

.list-header,
.monsterlist li {
  display: grid;
  grid-template-columns: 40px 150px 120px 80px 10px; /* match your input widths */
  gap: 12px;
  align-items: center;
}

.monsterlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reset {
  margin-top: 50px;
}

.dead {
  opacity: 0.3;
}

.calc {
  display: flex;
}

.calc input {
  width: 50px;
}
